bpmn_python
networkx

langgraph>=0.4
langgraph-checkpoint-sqlite
langgraph-checkpoint-postgres
SQLAlchemy>=2.0
xmlschema
pytest

setuptools
wheel
twine
pre-commit
ruff
llama-index
llama-index-llms-ollama
grandalf
undetected-chromedriver
selenium
fake-useragent
chainlit
fastapi
uvicorn
asyncpg
fastapi-mcp